<p id="notice"><%= notice %></p>

<p>
  <strong>Nombredistrito:</strong>
  <%= @distrito_origen.nombredistrito %>
</p>

<%= link_to 'Edit', edit_distrito_origen_path(@distrito_origen) %> |
<%= link_to 'Back', distrito_origens_path %>
