    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Contacto
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-car"></i> Taxi Xpress</h4>
                    </div>
                    <div class="panel-body">
                        <p><i class="fa fa-mobile" > </i>  989306261</p>
                        <p><i class="fa fa-phone" > </i>  4110000</p>
                        <p><i class="fa fa-envelope-o" > </i>  contacto@taxixpress.com</p>
   
                    </div>
                </div>
            </div>
           
           

       
