    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->


        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Taxi Xpress');"></div>
                <div class="carousel-caption">
                    
                <div class="fill" >
                     <%=image_tag  "taxi.JPG" %>
                </div>
           
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Seguridad');"></div>
                <div class="carousel-caption">
               
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Garantía');"></div>
                <div class="carousel-caption">
               
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenido a Taxi Xpress
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-car"></i> Servicio</h4>
                    </div>
                    <div class="panel-body">
                        <p>En Taxi Xpress te ofrecemos el mejor servicio de movilidad particular y taxi en Lima. Nos caracterizamos por nuestra experiencia en el mercado, y la comodidad y elegancia de nuestra flota, así como el profesionalismo de nuestros conductores.

Contamos con una flota de más de 100 vehículos equipados con un moderno sistema de comunicación. Además.

Si busca un servicio confiable, personalizado, privado y la mayor cantidad de servicios en todas sus modalidades las 24 horas del día, Taxi Xpress es la respuesta.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-life-ring"></i> Seguridad</h4>
                    </div>
                    <div class="panel-body">
                        <p>100% CONDUCTORES PROFESIONALES</p>
                        <p> Nuestro personal pasa por exámenes psicológicos y técnicos para asegurarnos de darte el mejor servicio.
                            Revisión de antecendentes penales.
                            Cuentan con respectivas capacitaciones en seguridad vial y credenciales vigente para brindar servicio de taxi en Lima Perú.
                        </p>
                        <p> </p>
                        <p> PROTECCION </p>
                        <p> Monitoreo GPS. Siempre sabemos donde estás.
                            Láminas anti-impacto en las ventanas.
                        </p>

                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-shield"></i> Garantía</h4>
                    </div>
                    <div class="panel-body">
                        <p>En Taxi Xpress nos comprometemos a darle el servicio que usted espera 100% garantizado</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

       

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Taxi Xpress Ejecutivo</h2>
            </div>
            <div class="col-md-6">
                <p>La forma mas segura, confiable y elegante de transportar su personal</p>

                <p>Tienes dificultades para trasladar a tu personal en Lima?. Se te hace difícil manejar los gastos de transporte?. Quisieras solicitar servicios a crédito por 15, 30 o 45 días?. Utiliza nuestro servicio y comprobarás la excelencia de nuestro servicio. Se aplican descuento por tarifas por volumen.</p>
            </div>
            <div class="col-md-6">
                <%= image_tag("executivedriver.jpg", :alt => "rss feed") %>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>No dude en contactarse con nosotros</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="/contacto">Contacto</a>
                </div>
            </div>
        </div>
