<p id="notice"><%= notice %></p>

<p>
  <strong>Nombredistrito:</strong>
  <%= @distrito_destino.nombredistrito %>
</p>

<%= link_to 'Edit', edit_distrito_destino_path(@distrito_destino) %> |
<%= link_to 'Back', distrito_destinos_path %>
