<div class="container secondary-container">
  <div id="page">
    <div id="titleBar">
      <div id="title">
        <h2>Mi Cuenta</h2>
      </div>
    </div>
    <div id="mainContent">
      <div id="profile"><div><div class="column">
        <div id="contactDetails"><div>
          <h3>Información de Contacto	<a class="button editButton" data-overlay="contactDetailsOverlay">Editar</a> </h3>
            <div class="section">
	            <dl class="properties">
		          <dt>Nombre</dt>
		          <dd>Carlos</dd>
		          <dt>Apellido</dt>
		          <dd>Valenzuela</dd>
		          <dt>E-Mail</dt>
		          <dd>carloxvg@outlook.com</dd>
		          <dt>Celular</dt>
		          <dd>(914) 826-1022<a id="phoneVerificationLink" style="color: rgb(60, 118, 61); font-style: italic; margin-left: 3%; cursor: pointer;" data-overlay="verifiedOverlay">Verificado</a></dd>
     	        </dl>
            </div>
            </div>
        </div>
	      <div id="notifications"><div><h3>Preferencias de Notification</h3>
            <div class="section">
	              <ul>
  		            <li data-type="booking_confirmations">
				            <h4>Confirmación de reservas <a class="button tiny unobtrusive" href="">Cambiar</a>
					          <div class="summary">E-Mail, SMS</div>
			              </h4>
                  </li>
		              <li data-type="ride_reminders">
				            <h4>Recordatorio de recojo <a class="button tiny unobtrusive" href="">Cambiar</a>
					          <div class="summary">E-Mail</div>
				            </h4>
			            </li>
		              <li data-type="ride_status_updates">
				            <h4>Estado de recojo   <a class="button tiny unobtrusive" href="">Cambiar</a>
					          <div class="summary">Nunca</div>
				            </h4>
                  </li>
		              <li data-type="service_updates">
				            <h4>Actualización de servicio <a class="button tiny unobtrusive" href="">Change</a>
					          <div class="summary">By E-Mail</div>
				            </h4>
			            </li>
	              </ul>
              </div></div>
        </div></div>
        <div class="column">
	      <div id="password"><div>
	        <h3>Password <a class="button editButton" href="" data-overlay="passwordOverlay">Cambiar password</a></h3>
        <div class="section">
	        <p>Su último password fue cambiado hace 9 días.</p>
        </div>
        </div></div>
        </div>
        </div></div>
        <div class="clear"></div>
    </div>
  </div>
</div>